html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: auto;
  overflow-y: auto;

  background-color: #ffffff;
  font-family: "Pretendard", sans-serif;
}

.trashcatch-page {
  background: #ffffff;
}

.trashcatch-page .game-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trashcatch-page .game-title {
  width: 400px;
  margin: 0 0 10px;

  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.trashcatch-page #main-game-area {
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: scale(0.9);
  transform-origin: center;
  position: relative;
}

.trashcatch-page #ui-board {
  width: 400px;
  background-color: #ffffff;
  color: #000000;

  padding: 14px 18px;
  box-sizing: border-box;

  border: 2px solid #a0a0a0;
  border-bottom: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.02em;

  position: relative;
}

.trashcatch-page .center-line {
  position: absolute;
  bottom: 0;
  left: 18px;
  right: 18px;

  height: 0.8px;
  background-color: #a0a0a0;
  z-index: 99;
}

.trashcatch-page #gameCanvas {
  width: 400px;
  height: 600px;

  background-color: #ffffff;
  display: block;

  border: 2px solid #a0a0a0;
  border-top: none;

  box-sizing: border-box;
}
