@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.css");

/* 다크모드할거면 다른곳도 이런식으로 색 지정해줘야함. */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --font-main: "Pretendard Variable", Pretendard, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: #ffffff;
  font-family: var(--font-main);
}

.trashup-page {
  background-color: #ffffff;
}

.trashup-page .game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trashup-page .game-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #111111;
}

.trashup-page #game-container {
  position: relative;

  width: 450px !important;
  height: 650px !important;

  background-color: #ffffff;
  border: 2px solid #a0a0a0;
  overflow: hidden;

  background-image:
    linear-gradient(to right, #e5e5e5 1px, transparent 1px),
    linear-gradient(to bottom, #e5e5e5 1px, transparent 1px);
  background-size: 45px 45px;

  cursor: pointer;
  box-sizing: border-box;
}

.trashup-page #gameCanvas {
  display: block;
  width: 450px !important;
  height: 650px !important;
}

.trashup-page #hud {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 45px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(225, 225, 225, 0.9);
  border-bottom: 1px solid #999999;
  padding: 0 15px;

  z-index: 5;
  box-sizing: border-box;
}

.trashup-page .score-box {
  font-size: 18px;
  font-weight: 700;
  color: #111111;
}

.trashup-page .controls span {
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.trashup-page .ui-panel {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 10;
  background: rgba(255, 255, 255, 0.95);
  box-sizing: border-box;
}

.trashup-page .ui-panel h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #111111;
}

.trashup-page .ui-panel p {
  font-size: 15px;
  color: #555555;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.5;
}

.trashup-page .btn {
  padding: 10px 30px;

  font-size: 20px;
  font-weight: bold;

  background: transparent;
  border: 2px solid #111111;
  border-radius: 8px;

  cursor: pointer;
  transition: 0.2s;
  color: #111111;
}

.trashup-page .btn:hover {
  background: #111111;
  color: #ffffff;
}
